# Introduction to Recommender Systems: Collaborive Filtering

[Reference](https://www.ethanrosenthal.com/2015/11/02/intro-to-collaborative-filtering/)

## Downloading The Data: MovieLens dataset

In [10]:
! curl -O http://files.grouplens.org/datasets/movielens/ml-100k.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 4808k    0 20161    0     0  12808      0  0:06:24  0:00:01  0:06:23 12808
 24 4808k   24 1163k    0     0   455k      0  0:00:10  0:00:02  0:00:08  455k
100 4808k  100 4808k    0     0  1644k      0  0:00:02  0:00:02 --:--:-- 1643k

In [13]:
with zipfile.ZipFile('ml-100k.zip', 'r') as zip_ref:
    zip_ref.extractall('')

## Loading The Data

In [15]:
names = ['user_id', 'item_id', 'rating', 'timestamp']

In [27]:
df = pd.read_csv("ml-100k/u.data", sep = '\t', names = names)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

checking the unique values of items and users

In [31]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]

print(f'Number of:\n -Users: {n_users}\n -Items: {n_items}')

Number of:
 -Users: 943
 -Items: 1682

## Feature Engineering

Creating the user-item matrix

In [35]:
M = np.zeros((n_users, n_items))

we subtract 1 of the user and item id's bacause they start at 1, so to is needed to mach with the numpy array index

In [37]:
for row in df.itertuples(index = False):
    
    M[row[0]-1, row[1]-1] = row[2]

In [38]:
M

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 5., 3., ..., 0., 0., 0.],
       [0., 4., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [57]:
sparsity = len(M.nonzero()[0])
sparsity /= (M.shape[0] * M.shape[1])

sparsity *= 100

print(f'Sparsity: {sparsity:.2f}%')

Sparsity: 10.01%

This means that $\sim$ 10% of your data is not an ampty value.

## Creating The Train And Test Datasets

In [71]:
train, test = train_test_split(M)

## Collaborative Filltering

## Functions

In [70]:
def train_test_split(M):
    
    train = M.copy()
    test = np.zeros((M.shape[0], M.shape[1]))
    
    for user in np.arange(M.shape[0]):
        
        test_ratings = np.random.choice( M[user, :].nonzero()[0], size = 10, replace = False)
        
        train[user, test_ratings] = 0
        test[user, test_ratings] = M[user, test_ratings]
        
        assert(np.all((train * test) == 0))
        
        return train, test

## Imports

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
import zipfile