# Introduction to Recommender Systems: Collaborive Filtering

[Reference](https://www.ethanrosenthal.com/2015/11/02/intro-to-collaborative-filtering/)

## Downloading The Data: MovieLens dataset

In [10]:
! curl -O http://files.grouplens.org/datasets/movielens/ml-100k.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 4808k    0 20161    0     0  12808      0  0:06:24  0:00:01  0:06:23 12808
 24 4808k   24 1163k    0     0   455k      0  0:00:10  0:00:02  0:00:08  455k
100 4808k  100 4808k    0     0  1644k      0  0:00:02  0:00:02 --:--:-- 1643k

In [13]:
with zipfile.ZipFile('ml-100k.zip', 'r') as zip_ref:
    zip_ref.extractall('')

## Loading The Data

In [15]:
names = ['user_id', 'item_id', 'rating', 'timestamp']

In [27]:
df = pd.read_csv("ml-100k/u.data", sep = '\t', names = names)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

checking the unique values of items and users

In [31]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]

print(f'Number of:\n -Users: {n_users}\n -Items: {n_items}')

Number of:
 -Users: 943
 -Items: 1682

## Imports

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
import zipfile